<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="revenuehunt" translate="label" sortOrder="9999">
			<label>RevenueHunt</label>
		</tab>
		<section id="product_quiz" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Product Recommendation Quiz</label>
			<tab>revenuehunt</tab>
			<resource>Revenuehunt_ProductQuiz::config_Revenuehunt_productquiz</resource>
			<group id="hidden" sortOrder="1" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Hidden</label>
                <field id="revoke" translate="label comment tooltip" type="button" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Revoke Privileges</label>
                    <frontend_model>Revenuehunt\ProductQuiz\Block\System\Config\Form\Revoke</frontend_model>
                </field>
                <field id="channel" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Channel</label>
                    <comment>Set dynamically on create</comment>
                    <config_path>product_quiz/hidden/channel</config_path>
                </field>
                <field id="rh_domain" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Active Domain</label>
                    <comment>Set dynamically on create</comment>
                    <config_path>product_quiz/hidden/rh_domain</config_path>
                    <frontend_model>Revenuehunt\ProductQuiz\Block\System\Config\Form\Disable</frontend_model>
                </field>
				<field id="rh_token" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Token</label>
                    <comment>Set dynamically on create</comment>
					<config_path>product_quiz/hidden/rh_token</config_path>
                    <frontend_model>Revenuehunt\ProductQuiz\Block\System\Config\Form\Disable</frontend_model>
				</field>
				<field id="rh_shop_hashid" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Shop HashID</label>
                    <comment>Set dynamically on create</comment>
					<config_path>product_quiz/hidden/rh_shop_hashid</config_path>
                    <frontend_model>Revenuehunt\ProductQuiz\Block\System\Config\Form\Disable</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>
